<nav
    class="navbar is-primary {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}"
    x-data="{ openNav: false }"
>
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="navbar-item">
                <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="{{ site.title }}" style="height:36px;width:auto;display:block;">
            </a>
            <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navMenu"
                :class="{ 'is-active': openNav }"
                x-on:click="openNav = !openNav"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-start">
                {% if site.data.navigation %}
                    {% for item in site.data.navigation %}
                        {% if item.dropdown %}
                            <div class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}">
                                <a
                                    href="{{ item.link | relative_url }}"
                                    class="navbar-link {% if page.url contains item.link %}is-active{% endif %}"
                                >
                                    {{- item.name -}}
                                </a>
                                <div class="navbar-dropdown">
                                    {% for subitem in item.dropdown %}
                                        <a
                                            href="{{ subitem.link | relative_url }}"
                                            class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}"
                                        >
                                            {{- subitem.name -}}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a
                                href="{{ item.link | relative_url }}"
                                class="navbar-item {% if item.link == page.url %}is-active{% endif %}"
                            >
                                {{- item.name -}}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item" id="site-search">
                    <div class="control has-icons-left">
                        <input
                            class="input is-small"
                            type="text"
                            id="site-search-input"
                            placeholder="Rechercher..."
                            autocomplete="off"
                            data-search-url="{{ '/search.json' | relative_url }}"
                        >
                        <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
                    </div>
                    <div class="site-search-results" id="site-search-results"></div>
                </div>
                <a
                    class="navbar-item"
                    href="{{ '/docs/tutorials/writing-guide/' | relative_url }}"
                    title="Guide de rédaction : comment créer une page de documentation"
                >
                    <span class="icon"><i class="fas fa-file-code"></i></span>
                </a>
                {% if site.gh_sponsor %}
                    <a class="navbar-item" href="https://github.com/sponsors/{{ site.gh_sponsor }}">
                        <span class="icon gh-sponsor"><i class="fas fa-heart"></i></span>
                        <span>Sponsor</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<script src="{{ '/assets/js/site-search.js' | relative_url }}"></script>
